<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">

		<title>{{ page.title }} - {{ site.title }}</title>

		<link rel="stylesheet" href="{{ '/assets/css/main.css' | prepend: site.url }}">

	</head>
	<body>
		<div id="wrapper">
			<div id="header">
				<div id="title">
					<h1>{{ site.title }}</h1>
				</div>

				<div id="nav">
					<a href="{{ site.url }}">Home</a>
					<a href="{{ site.url | append: '/about.html'}}">About</a>
					<a href="{{ site.url | append: '/folder/content.html'}}">CONTENT!!!</a>
				</div>
			</div>
			
			<div id="body">
				<div id="sidebar">
					<!-- Display basic index of posts
					<ul>
						{% for post in site.posts %}
						  <li>
							<a href="{{ post.url | prepend: site.url }}">{{ post.title }}</a>
						  </li>
						{% endfor %}
					  </ul>
					-->
					<!-- Display index alongside given tags for posts -->
					{% for tag in site.tags %}
						<h3>{{ tag[0] }}</h3>
						<ul>
							{% for post in tag[1] %}
							<li><a href="{{ post.url }}">{{ post.title }}</a></li>
							{% endfor %}
						</ul>
					{% endfor %}
				</div>

				<div id="content">
					<h1>{{ page.title }}</h1>
					<h2>{{ page.date }}</h2>
					{{ content }}
				</div>
			</div>

			<div id="footer">
				<p>what is happening</p>
				<p>page created by Noah Harris</p>
			</div>
		</div>
	</body>
</html>
